<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uniA676</key>
    <string>uniA_676.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>uni0410</key>
    <string>uni0410.glif</string>
    <key>uni0430</key>
    <string>uni0430.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0412</key>
    <string>uni0412.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0433</key>
    <string>uni0433.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0415</key>
    <string>uni0415.glif</string>
    <key>uni0435</key>
    <string>uni0435.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0454</key>
    <string>uni0454.glif</string>
    <key>uni0405</key>
    <string>uni0405.glif</string>
    <key>uni0455</key>
    <string>uni0455.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uniA640</key>
    <string>uniA_640.glif</string>
    <key>uniA641</key>
    <string>uniA_641.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni0406</key>
    <string>uni0406.glif</string>
    <key>uni0456</key>
    <string>uni0456.glif</string>
    <key>uni0419</key>
    <string>uni0419.glif</string>
    <key>uni0439</key>
    <string>uni0439.glif</string>
    <key>uni0407</key>
    <string>uni0407.glif</string>
    <key>uni0457</key>
    <string>uni0457.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni041C</key>
    <string>uni041C_.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni041D</key>
    <string>uni041D_.glif</string>
    <key>uni043D</key>
    <string>uni043D_.glif</string>
    <key>uni041E</key>
    <string>uni041E_.glif</string>
    <key>uni043E</key>
    <string>uni043E_.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni043F</key>
    <string>uni043F_.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uni047B</key>
    <string>uni047B_.glif</string>
    <key>uni0420</key>
    <string>uni0420.glif</string>
    <key>uni0440</key>
    <string>uni0440.glif</string>
    <key>uni0421</key>
    <string>uni0421.glif</string>
    <key>uni0441</key>
    <string>uni0441.glif</string>
    <key>uni0422</key>
    <string>uni0422.glif</string>
    <key>uni0442</key>
    <string>uni0442.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0443</key>
    <string>uni0443.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni0479</key>
    <string>uni0479.glif</string>
    <key>uniA64A</key>
    <string>uniA_64A_.glif</string>
    <key>uniA64B</key>
    <string>uniA_64B_.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0425</key>
    <string>uni0425.glif</string>
    <key>uni0445</key>
    <string>uni0445.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0447</key>
    <string>uni0447.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni0429</key>
    <string>uni0429.glif</string>
    <key>uni0449</key>
    <string>uni0449.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni042B</key>
    <string>uni042B_.glif</string>
    <key>uni044B</key>
    <string>uni044B_.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni044E</key>
    <string>uni044E_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni0461</key>
    <string>uni0461.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0464</key>
    <string>uni0464.glif</string>
    <key>uni0465</key>
    <string>uni0465.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0467</key>
    <string>uni0467.glif</string>
    <key>uni0468</key>
    <string>uni0468.glif</string>
    <key>uni0469</key>
    <string>uni0469.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni046B</key>
    <string>uni046B_.glif</string>
    <key>uni046C</key>
    <string>uni046C_.glif</string>
    <key>uni046D</key>
    <string>uni046D_.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046F</key>
    <string>uni046F_.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0471</key>
    <string>uni0471.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0477</key>
    <string>uni0477.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047D</key>
    <string>uni047D_.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uni047F</key>
    <string>uni047F_.glif</string>
    <key>uni0482</key>
    <string>uni0482.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>uni0487</key>
    <string>uni0487.glif</string>
    <key>uniA64C</key>
    <string>uniA_64C_.glif</string>
    <key>uniA64D</key>
    <string>uniA_64D_.glif</string>
    <key>uniA651</key>
    <string>uniA_651.glif</string>
    <key>uniA650</key>
    <string>uniA_650.glif</string>
    <key>uniA653</key>
    <string>uniA_653.glif</string>
    <key>uniA656</key>
    <string>uniA_656.glif</string>
    <key>uniA657</key>
    <string>uniA_657.glif</string>
    <key>uniA65E</key>
    <string>uniA_65E_.glif</string>
    <key>uniA65F</key>
    <string>uniA_65F_.glif</string>
    <key>uniA66F</key>
    <string>uniA_66F_.glif</string>
    <key>uniA673</key>
    <string>uniA_673.glif</string>
    <key>uniA675</key>
    <string>uniA_675.glif</string>
    <key>uniA67C</key>
    <string>uniA_67C_.glif</string>
    <key>uniA67D</key>
    <string>uniA_67D_.glif</string>
    <key>uniA67E</key>
    <string>uniA_67E_.glif</string>
    <key>uniA67F</key>
    <string>uniA_67F_.glif</string>
    <key>u1F540</key>
    <string>u1F_540.glif</string>
    <key>u1F541</key>
    <string>u1F_541.glif</string>
    <key>u1F542</key>
    <string>u1F_542.glif</string>
    <key>u1F543</key>
    <string>u1F_543.glif</string>
    <key>u1F544</key>
    <string>u1F_544.glif</string>
    <key>u1F545</key>
    <string>u1F_545.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni2720</key>
    <string>uni2720.glif</string>
    <key>uni2DE0</key>
    <string>uni2D_E_0.glif</string>
    <key>uni2DE1</key>
    <string>uni2D_E_1.glif</string>
    <key>uni2DE2</key>
    <string>uni2D_E_2.glif</string>
    <key>uni2DE3</key>
    <string>uni2D_E_3.glif</string>
    <key>uni2DE4</key>
    <string>uni2D_E_4.glif</string>
    <key>uni2DE5</key>
    <string>uni2D_E_5.glif</string>
    <key>uni2DE6</key>
    <string>uni2D_E_6.glif</string>
    <key>uni2DE7</key>
    <string>uni2D_E_7.glif</string>
    <key>uni2DE8</key>
    <string>uni2D_E_8.glif</string>
    <key>uni2DE9</key>
    <string>uni2D_E_9.glif</string>
    <key>uni2DEA</key>
    <string>uni2D_E_A_.glif</string>
    <key>uni2DEB</key>
    <string>uni2D_E_B_.glif</string>
    <key>uni2DEC</key>
    <string>uni2D_E_C_.glif</string>
    <key>uni2DED</key>
    <string>uni2D_E_D_.glif</string>
    <key>uni2DEE</key>
    <string>uni2D_E_E_.glif</string>
    <key>uni2DEF</key>
    <string>uni2D_E_F_.glif</string>
    <key>uni2DF0</key>
    <string>uni2D_F_0.glif</string>
    <key>uni2DF1</key>
    <string>uni2D_F_1.glif</string>
    <key>uni2DF2</key>
    <string>uni2D_F_2.glif</string>
    <key>uni2DF3</key>
    <string>uni2D_F_3.glif</string>
    <key>uni2DF4</key>
    <string>uni2D_F_4.glif</string>
    <key>uni2DF5</key>
    <string>uni2D_F_5.glif</string>
    <key>uni2DF6</key>
    <string>uni2D_F_6.glif</string>
    <key>uni2DF7</key>
    <string>uni2D_F_7.glif</string>
    <key>uni2DF9</key>
    <string>uni2D_F_9.glif</string>
    <key>uni2DFA</key>
    <string>uni2D_F_A_.glif</string>
    <key>uni2DFB</key>
    <string>uni2D_F_B_.glif</string>
    <key>uni2DFD</key>
    <string>uni2D_F_D_.glif</string>
    <key>uni2DFC</key>
    <string>uni2D_F_C_.glif</string>
    <key>uniA674</key>
    <string>uniA_674.glif</string>
    <key>uniA677</key>
    <string>uniA_677.glif</string>
    <key>uniA678</key>
    <string>uniA_678.glif</string>
    <key>NameMe.193</key>
    <string>N_ameM_e.193.glif</string>
    <key>uniA67A</key>
    <string>uniA_67A_.glif</string>
    <key>uniA67B</key>
    <string>uniA_67B_.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni033E</key>
    <string>uni033E_.glif</string>
    <key>uni20DD</key>
    <string>uni20D_D_.glif</string>
    <key>uni0488</key>
    <string>uni0488.glif</string>
    <key>uni0489</key>
    <string>uni0489.glif</string>
    <key>uniA670</key>
    <string>uniA_670.glif</string>
    <key>uniA671</key>
    <string>uniA_671.glif</string>
    <key>uniA672</key>
    <string>uniA_672.glif</string>
    <key>uni2E2F</key>
    <string>uni2E_2F_.glif</string>
    <key>uni2626</key>
    <string>uni2626.glif</string>
    <key>uniA668</key>
    <string>uniA_668.glif</string>
    <key>uniA669</key>
    <string>uniA_669.glif</string>
    <key>uniA66A</key>
    <string>uniA_66A_.glif</string>
    <key>uniA66B</key>
    <string>uniA_66B_.glif</string>
    <key>uniA66C</key>
    <string>uniA_66C_.glif</string>
    <key>uniA66D</key>
    <string>uniA_66D_.glif</string>
    <key>uniA66E</key>
    <string>uniA_66E_.glif</string>
    <key>uniA698</key>
    <string>uniA_698.glif</string>
    <key>uniA699</key>
    <string>uniA_699.glif</string>
    <key>uniA69A</key>
    <string>uniA_69A_.glif</string>
    <key>uniA69B</key>
    <string>uniA_69B_.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>uniA69F</key>
    <string>uniA_69F_.glif</string>
    <key>uni25EF</key>
    <string>uni25E_F_.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni1DC1</key>
    <string>uni1D_C_1.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>afii61352</key>
    <string>afii61352.glif</string>
    <key>uniA652</key>
    <string>uniA_652.glif</string>
    <key>uniFB00</key>
    <string>uniF_B_00.glif</string>
    <key>uniFB01</key>
    <string>uniF_B_01.glif</string>
    <key>uniFB02</key>
    <string>uniF_B_02.glif</string>
    <key>uniFB03</key>
    <string>uniF_B_03.glif</string>
    <key>uniFB04</key>
    <string>uniF_B_04.glif</string>
    <key>uniFB05</key>
    <string>uniF_B_05.glif</string>
    <key>uniFB06</key>
    <string>uniF_B_06.glif</string>
    <key>uF0120</key>
    <string>uF_0120.glif</string>
    <key>uF0121</key>
    <string>uF_0121.glif</string>
    <key>uF0122</key>
    <string>uF_0122.glif</string>
    <key>uF0123</key>
    <string>uF_0123.glif</string>
    <key>uF0022</key>
    <string>uF_0022.glif</string>
    <key>uF0023</key>
    <string>uF_0023.glif</string>
    <key>uF0025</key>
    <string>uF_0025.glif</string>
    <key>uF0027</key>
    <string>uF_0027.glif</string>
    <key>uniF4E0</key>
    <string>uniF_4E_0.glif</string>
    <key>uniF4E1</key>
    <string>uniF_4E_1.glif</string>
    <key>uniF4E2</key>
    <string>uniF_4E_2.glif</string>
    <key>uniF4E3</key>
    <string>uniF_4E_3.glif</string>
    <key>uniF4E4</key>
    <string>uniF_4E_4.glif</string>
    <key>uniF4E5</key>
    <string>uniF_4E_5.glif</string>
    <key>uniF4E6</key>
    <string>uniF_4E_6.glif</string>
    <key>uniF4E7</key>
    <string>uniF_4E_7.glif</string>
    <key>uniF4E8</key>
    <string>uniF_4E_8.glif</string>
    <key>uniF4E9</key>
    <string>uniF_4E_9.glif</string>
    <key>uniF4EA</key>
    <string>uniF_4E_A_.glif</string>
    <key>uniF4EB</key>
    <string>uniF_4E_B_.glif</string>
    <key>uniF4EC</key>
    <string>uniF_4E_C_.glif</string>
    <key>uniF4ED</key>
    <string>uniF_4E_D_.glif</string>
    <key>uniF4EE</key>
    <string>uniF_4E_E_.glif</string>
    <key>uniF4EF</key>
    <string>uniF_4E_F_.glif</string>
    <key>uniF4F0</key>
    <string>uniF_4F_0.glif</string>
    <key>uniF4F1</key>
    <string>uniF_4F_1.glif</string>
    <key>uniF4F2</key>
    <string>uniF_4F_2.glif</string>
    <key>uniE92A</key>
    <string>uniE_92A_.glif</string>
    <key>uniE92B</key>
    <string>uniE_92B_.glif</string>
    <key>uniE001</key>
    <string>uniE_001.glif</string>
    <key>uniE003</key>
    <string>uniE_003.glif</string>
    <key>uni0444.salt</key>
    <string>uni0444.salt.glif</string>
    <key>uni0440.salt</key>
    <string>uni0440.salt.glif</string>
    <key>uni0463.salt</key>
    <string>uni0463.salt.glif</string>
    <key>uni0446.salt</key>
    <string>uni0446.salt.glif</string>
    <key>uni0449.salt</key>
    <string>uni0449.salt.glif</string>
    <key>uni0445.salt</key>
    <string>uni0445.salt.glif</string>
    <key>uni0445.salt2</key>
    <string>uni0445.salt2.glif</string>
    <key>uni0445.salt3</key>
    <string>uni0445.salt3.glif</string>
    <key>uniA64B.salt3</key>
    <string>uniA_64B_.salt3.glif</string>
    <key>uniA64B.salt2</key>
    <string>uniA_64B_.salt2.glif</string>
    <key>uniA64B.salt</key>
    <string>uniA_64B_.salt.glif</string>
    <key>uniA641.salt</key>
    <string>uniA_641.salt.glif</string>
    <key>uni0444.salt2</key>
    <string>uni0444.salt2.glif</string>
    <key>uni0443.salt</key>
    <string>uni0443.salt.glif</string>
    <key>uni0471.salt</key>
    <string>uni0471.salt.glif</string>
    <key>uni0471.salt2</key>
    <string>uni0471.salt2.glif</string>
    <key>uni0426.salt</key>
    <string>uni0426.salt.glif</string>
    <key>uniE931</key>
    <string>uniE_931.glif</string>
    <key>uniE930</key>
    <string>uniE_930.glif</string>
    <key>uniE920</key>
    <string>uniE_920.glif</string>
    <key>uniE921</key>
    <string>uniE_921.glif</string>
    <key>uniE922</key>
    <string>uniE_922.glif</string>
    <key>uniE923</key>
    <string>uniE_923.glif</string>
    <key>uniE924</key>
    <string>uniE_924.glif</string>
    <key>uniE925</key>
    <string>uniE_925.glif</string>
    <key>uniE8E5</key>
    <string>uniE_8E_5.glif</string>
    <key>uniE8E8</key>
    <string>uniE_8E_8.glif</string>
    <key>uniE8E9</key>
    <string>uniE_8E_9.glif</string>
    <key>uniE8EA</key>
    <string>uniE_8E_A_.glif</string>
    <key>uniE8EB</key>
    <string>uniE_8E_B_.glif</string>
    <key>uniE8ED</key>
    <string>uniE_8E_D_.glif</string>
    <key>uniE900</key>
    <string>uniE_900.glif</string>
    <key>uniE901</key>
    <string>uniE_901.glif</string>
    <key>uniE902</key>
    <string>uniE_902.glif</string>
    <key>uniE904</key>
    <string>uniE_904.glif</string>
    <key>uniE90C</key>
    <string>uniE_90C_.glif</string>
    <key>uniE90D</key>
    <string>uniE_90D_.glif</string>
    <key>uniE90E</key>
    <string>uniE_90E_.glif</string>
    <key>uniE906</key>
    <string>uniE_906.glif</string>
    <key>uniE907</key>
    <string>uniE_907.glif</string>
    <key>uniE8F0</key>
    <string>uniE_8F_0.glif</string>
    <key>uniE612</key>
    <string>uniE_612.glif</string>
    <key>uniE714</key>
    <string>uniE_714.glif</string>
    <key>uniE800</key>
    <string>uniE_800.glif</string>
    <key>uniE814</key>
    <string>uniE_814.glif</string>
    <key>uni1C82</key>
    <string>uni1C_82.glif</string>
    <key>uni1C83</key>
    <string>uni1C_83.glif</string>
    <key>uni1C84</key>
    <string>uni1C_84.glif</string>
    <key>uni1C85</key>
    <string>uni1C_85.glif</string>
    <key>uni1C86</key>
    <string>uni1C_86.glif</string>
    <key>uni1C87</key>
    <string>uni1C_87.glif</string>
    <key>uni0478.salt</key>
    <string>uni0478.salt.glif</string>
    <key>uni2E34</key>
    <string>uni2E_34.glif</string>
    <key>uni1C81</key>
    <string>uni1C_81.glif</string>
    <key>uni1C80</key>
    <string>uni1C_80.glif</string>
    <key>uni1C88</key>
    <string>uni1C_88.glif</string>
    <key>uni2E43</key>
    <string>uni2E_43.glif</string>
    <key>u1F311</key>
    <string>u1F_311.glif</string>
    <key>u1F312</key>
    <string>u1F_312.glif</string>
    <key>u1F313</key>
    <string>u1F_313.glif</string>
    <key>u1F314</key>
    <string>u1F_314.glif</string>
    <key>u1F315</key>
    <string>u1F_315.glif</string>
    <key>u1F316</key>
    <string>u1F_316.glif</string>
    <key>u1F317</key>
    <string>u1F_317.glif</string>
    <key>u1F318</key>
    <string>u1F_318.glif</string>
    <key>u1F319</key>
    <string>u1F_319.glif</string>
    <key>u1F347</key>
    <string>u1F_347.glif</string>
    <key>u1F377</key>
    <string>u1F_377.glif</string>
    <key>u1F41F</key>
    <string>u1F_41F_.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni007F</key>
    <string>uni007F_.glif</string>
    <key>afii57929</key>
    <string>afii57929.glif</string>
    <key>uniA69E</key>
    <string>uniA_69E_.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0305</key>
    <string>uni0305.glif</string>
    <key>uni034F</key>
    <string>uni034F_.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>afii10023</key>
    <string>afii10023.glif</string>
    <key>afii10052</key>
    <string>afii10052.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>afii10061</key>
    <string>afii10061.glif</string>
    <key>afii10062</key>
    <string>afii10062.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>afii10071</key>
    <string>afii10071.glif</string>
    <key>afii10100</key>
    <string>afii10100.glif</string>
    <key>afii10109</key>
    <string>afii10109.glif</string>
    <key>uni045D</key>
    <string>uni045D_.glif</string>
    <key>afii10110</key>
    <string>afii10110.glif</string>
    <key>uni1DC0</key>
    <string>uni1D_C_0.glif</string>
    <key>uni2000</key>
    <string>uni2000.glif</string>
    <key>uni2001</key>
    <string>uni2001.glif</string>
    <key>uni2002</key>
    <string>uni2002.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif</string>
    <key>uni2006</key>
    <string>uni2006.glif</string>
    <key>uni2007</key>
    <string>uni2007.glif</string>
    <key>uni2008</key>
    <string>uni2008.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni200A</key>
    <string>uni200A_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>afii61664</key>
    <string>afii61664.glif</string>
    <key>zerojoin</key>
    <string>zerojoin.glif</string>
    <key>afii299</key>
    <string>afii299.glif</string>
    <key>afii300</key>
    <string>afii300.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>twodotenleader</key>
    <string>twodotenleader.glif</string>
    <key>onedotenleader</key>
    <string>onedotenleader.glif</string>
    <key>uni2027</key>
    <string>uni2027.glif</string>
    <key>uni202F</key>
    <string>uni202F_.glif</string>
    <key>uni203B</key>
    <string>uni203B_.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>uni2060</key>
    <string>uni2060.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>uni0485</key>
    <string>uni0485.glif</string>
    <key>uni037E</key>
    <string>uni037E_.glif</string>
    <key>anoteleia</key>
    <string>anoteleia.glif</string>
    <key>uni223B</key>
    <string>uni223B_.glif</string>
    <key>similar</key>
    <string>similar.glif</string>
    <key>uni223D</key>
    <string>uni223D_.glif</string>
    <key>uni223E</key>
    <string>uni223E_.glif</string>
    <key>uni1C88.alt</key>
    <string>uni1C_88.alt.glif</string>
    <key>afii10058</key>
    <string>afii10058.glif</string>
    <key>afii10059</key>
    <string>afii10059.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10107</key>
    <string>afii10107.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2215</key>
    <string>uni2215.glif</string>
    <key>uniE926</key>
    <string>uniE_926.glif</string>
    <key>uni0434.salt</key>
    <string>uni0434.salt.glif</string>
  </dict>
</plist>
